@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display'), local('PlayfairDisplay'),
         url('/assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('/assets/fonts/PlayfairDisplay-Regular.woff') format('woff'),
         url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
         url('/assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('/assets/fonts/PlayfairDisplay-Bold.woff') format('woff'),
         url('/assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}